/* line 14, /var/lib/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, /var/lib/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, /var/lib/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, /var/lib/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, /var/lib/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, /var/lib/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, /var/lib/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, /var/lib/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 6, ././style.sass */
body {
  font-family: "helvetica neue", arial, helvetica, sans-serif;
  font-size: 10pt;
  line-height: 1.5em;
  text-align: left;
  width: 950px;
}

/* line 13, ././style.sass */
.summary {
  font-family: "helvetica neue", arial, helvetica, sans-serif;
}

/* line 18, ././style.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: cambria, georgia, times, "times new roman", serif;
  font-size: 1.8em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
  line-height: 1em;
}

/* line 26, ././style.sass */
h2 {
  font-size: 1.4em;
}

/* line 28, ././style.sass */
h3 {
  font-size: 1.2em;
}

/* line 30, ././style.sass */
h4 {
  font-size: 1em;
}

/* line 32, ././style.sass */
h5 {
  font-size: 0.8em;
}

/* line 34, ././style.sass */
h6 {
  font-size: 0.6em;
}

/* line 36, ././style.sass */
tt, pre {
  font-family: monospace;
}

/* line 38, ././style.sass */
p {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

/* line 41, ././style.sass */
.mono {
  font-family: monospace;
}

/* line 43, ././style.sass */
small {
  font-size: 0.8em;
}

/* line 45, ././style.sass */
em {
  font-weight: bold;
}

/* line 47, ././style.sass */
strong {
  font-weight: bold;
  font-size: larger;
}

/* line 50, ././style.sass */
li {
  list-style-type: disc;
  margin-left: 1em;
}

/* line 53, ././style.sass */
li.searchresult {
  list-style-type: none;
  margin-top: 1.5em;
}

/* line 56, ././style.sass */
table {
  border-collapse: collapse;
}

/* line 58, ././style.sass */
acronym, .toggle-acronyms {
  color: #550000;
}

/* line 63, ././style.sass */
.logo h1, .logo h2 {
  font-family: cambria, georgia, times, "times new roman", serif;
}

/* line 66, ././style.sass */
.links {
  border-bottom: 1px solid #eeffee;
  cursor: pointer;
  color: #003300;
}

/* line 71, ././style.sass */
.numlinks1 {
  border-bottom: 1px solid #ddffdd;
}

/* line 73, ././style.sass */
.numlinks2 {
  border-bottom: 2px solid #ddffdd;
}

/* line 75, ././style.sass */
.numlinks3 {
  border-bottom: 3px solid #ddffdd;
}

/* line 77, ././style.sass */
.numlinks4 {
  border-bottom: 4px solid #ddffdd;
}

/* line 79, ././style.sass */
.numlinks5 {
  border-bottom: 5px solid #ddffdd;
}

/* line 81, ././style.sass */
.numlinks6 {
  border-bottom: 6px solid #ddffdd;
}

/* line 83, ././style.sass */
.numlinks7 {
  border-bottom: 7px solid #ddffdd;
}

/* line 85, ././style.sass */
.numlinks8 {
  border-bottom: 8px solid #ddffdd;
}

/* line 87, ././style.sass */
.numlinks9 {
  border-bottom: 9px solid #ddffdd;
}

/* line 89, ././style.sass */
.numlinks10 {
  border-bottom: 10px solid #ddffdd;
}

/* line 92, ././style.sass */
.popup {
  max-width: 80%;
  position: absolute;
  border: 1px solid black;
  padding: 1em;
  padding-top: 2em;
  background-color: white;
}
/* line 99, ././style.sass */
.popup .close {
  position: absolute;
  right: 0.2em;
  top: 0;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
/* line 106, ././style.sass */
.popup p {
  margin: 0;
}

/* line 109, ././style.sass */
.logo {
  text-align: center;
}
/* line 111, ././style.sass */
.logo a, .logo a:link, .logo a:visited {
  color: #000099;
  text-decoration: none;
}
/* line 114, ././style.sass */
.logo h1 {
  font-size: 24pt;
}
/* line 116, ././style.sass */
.logo h2 {
  font-size: 12pt;
}

/* line 119, ././style.sass */
.date {
  color: #555555;
}

/* line 121, ././style.sass */
.release, .category, .region, .casualties {
  color: #005500;
}

/* line 124, ././style.sass */
.summary {
  line-height: 2em;
}

/* line 127, ././style.sass */
.metadata {
  font-size: smaller;
}
/* line 129, ././style.sass */
.metadata th {
  font-weight: bold;
}
/* line 131, ././style.sass */
.metadata th, .metadata td {
  text-align: right;
  border: 1px solid #dddddd;
  padding: 0.5em;
}
/* line 135, ././style.sass */
.metadata td + td {
  text-align: center;
}

/* line 138, ././style.sass */
.entry {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
}
/* line 8, /var/lib/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/./_hacks.scss */
.entry {
  display: block;
}

/* line 141, ././style.sass */
.sidebar {
  background-color: #eeeeee;
  display: inline;
  float: left;
  margin-right: 0;
  width: 270px;
  padding: 1em;
}
/* line 138, /var/lib/gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/./blueprint/_grid.scss */
* html .sidebar {
  overflow-x: hidden;
}
/* line 145, ././style.sass */
.sidebar h2 {
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
}
/* line 149, ././style.sass */
.sidebar li {
  list-style-type: none;
}

/* line 153, ././style.sass */
.about {
  margin-top: 3em;
}

/* line 156, ././style.sass */
h1.entry-title {
  font-size: 1.4em;
}

/* line 159, ././style.sass */
.main {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
}
/* line 138, /var/lib/gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/./blueprint/_grid.scss */
* html .main {
  overflow-x: hidden;
}

/* line 162, ././style.sass */
.constraints {
  background-color: #eeeeee;
  padding: 1em;
}
/* line 165, ././style.sass */
.constraints .constraint {
  margin-bottom: 0.1em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #ffaa33;
  padding: 0.2em;
  margin-right: 1em;
}
/* line 171, ././style.sass */
.constraints .constraint a, .constraints .constraint a:visited {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  text-decoration: none;
  padding: 0.2em;
}
/* line 175, ././style.sass */
.constraints .sort {
  float: right;
}
/* line 177, ././style.sass */
.constraints .sort a.sortdir, .constraints .sort a.sortdir:visited {
  text-decoration: none;
}

/* line 179, ././style.sass */
.results, .summary {
  padding: 1em;
}

/* line 182, ././style.sass */
.input-prompt {
  position: absolute;
  color: #aaaaaa;
  margin: 0.2em 0 0 0.5em;
}

/* line 187, ././style.sass */
.sparkline {
  margin-bottom: -7px;
}
