<div class='about'>
<p><b>New:</b> Search Iraq and Afghanistan war logs together!</p>

<p><b><a href='/'>WarDiaries.WikiLeaks.org</a></b> is an independently produced website
which provides an easy way to search through the war logs released by <a href='http://wikileaks.org'>Wikileaks</a>, including the <a href='http://wikileaks.org/wiki/Afghan_War_Diary,_2004-2010'>Afghan War Diary</a> and the <a href='http://warlogs.wikileaks.org/'>Iraq War Logs</a>.</p>

<p>From here, you can <a href='{% url afg.search %}'>browse through all of the
    documents</a> that have been released, organized by type, category, date,
number of casualties, and many other properties.  From any 
<a href='{% url afg.show_entry 1026228 %}'>document page</a>, clicking on the
<span class='links numlinks9' style='cursor: auto'>green underlined</span> text
will open a popup that links to other documents that contain those phrases,
making it possible to see important search terms and connections that you might
not otherwise notice.</p>

<p>Our hope is that this tool will be helpful to reporters and researchers who
are interested in learning more about the US's ongoing wars, and making
sense of this important database.  If you wish to support this work, we
encourage you to make a 
<a href='http://warlogs.wikileaks.org/media/support.html'>donation to wikileaks</a> or the <a href='http://www.bradleymanning.org/'>Bradley Manning legal defense fund</a>.
</p>

<p>Source code for this website is freely available on 
<a href='http://github.com/yourcelf/afgexplorer'>github</a> &ndash; we welcome
any contributions, improvements or suggestions.</p>

<p style='font-size: larger; margin-left: 2em'><a href='{% url afg.search %}'>On to the documents.</a></p>
<br />
<br />

<p><b>API:</b>  Developers wishing to leverage this website for their own applications can use Diary Dig to return JSON data.  See <a href='{% url afg.api %}'>API</a> for details.
</p>
</div>
