{% extends "base.html" %}
{% block title %}Diary Dig API{% endblock %}
{% block content %}
<h1>Diary Dig API</h1>
<p>The Diary Dig API exposes the basic functionality of Diary Dig to developers.  To use, append "json" to the same URL used to display entries or search results, for example:</p>

<pre>
    http://www.diarydig.org/search/<b>json</b>?q=Obama...
    http://www.diarydig.org/id/2F8FCFDD-F5CB-9FAB-B96C7574D4BE7364/<b>json</b>
</pre>

<p>Results include all the basic information used to render pages in DiaryDig.  For entry pages, this includes all the information available for that entry, as well as all the phrases that are linked to other documents, and ID's that reference those documents.  For search pages, this includes search results, facets, and parameters.</p>
<p>JSONp can be obtained by appending a "callback=..." GET parameter.</p>

<p>Please note that currently search results are referenced by <tt>report_key</tt>, which is the unique ID provided by the WikiLeaks release data, while internal page links are referenced by an internal Diary Dig ID which may change.  Both IDs can be used to access individual entries in Diary Dig.</p>


<p>If you have questions, comments, or issues with the API, please use the <a href='http://github.com/yourcelf/afgexplorer'>github project page</a>.
</p>

{% endblock %}
