{% extends "base.html" %}
{% block title %}Diary Dig API{% endblock %}
{% block content %}
<h1>Diary Dig API</h1>
<p>The Diary Dig API exposes the basic functionality of Diary Dig to developers.  To use, append "json" to the same URL used to display entries or search results, for example:</p>

<pre>
    http://wardiary.wikileaks.org/search/<b>json</b>?q=Obama...
    http://wardiary.wikileaks.org/id/2F8FCFDD-F5CB-9FAB-B96C7574D4BE7364/<b>json</b>
</pre>

<p>Results include all the basic information used to render pages in DiaryDig.  For entry pages, this includes all the information available for that entry, as well as all the phrases that are linked to other documents, and <tt>report_key</tt>'s that reference those documents.  For search pages, this includes search results, facets, and parameters.</p>
<p>JSONp can be obtained by appending a "callback=..." GET parameter.</p>

<p>If you have questions, comments, or issues with the API, please use the <a href='http://github.com/yourcelf/afgexplorer'>github project page</a>.
</p>

{% endblock %}
