{% extends "base.html" %}
{% block title %}{% if about %}Diary Dig{% else %}Search{% endif %}{% endblock %}
{% block content %}

<div class='sidebar'>
    {% include "afg/_logo.html" %}
    <form method='get' action='{% url afg.search %}'>
        <input type='text' value='{{ params.q }}' name='q' />
        <input type='submit' value='search' />
    {% for param, choice_opts in choices.items %}
    <h2>{{ choice_opts.title }}</h2>
    {% if choice_opts.value %}
        <input type='hidden' name='{{ param }}' value='{{ choice_opts.value }}' />
    {% endif %}
    <ul>
        {% for choice in choice_opts.choices %}
        <li>
            {% if choice_opts.choices|length > 1 %}
                <a href="{{ qstring }}&{{ param }}={{choice.1}}">{% firstof choice.0 "None" %}</a>
            {% else %}
                {% firstof choice.0 "None" %}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
    {% for param, choice_opts in min_max_choices.items %}
    <h2>{{ choice_opts.title }}</h2>
    <ul>
    <li>Minimum: <input class='minmax' size='2' type='text' value='{{ choice_opts.min_value }}' name='{{param}}__gte' /> ({{ choice_opts.min }})</li>
    <li>Maximum: <input class='minmax' size='2' type='text' value='{{ choice_opts.max_value }}' name='{{param}}__lte' /> ({{ choice_opts.max }})</li>
    </ul>
        
    {% endfor %}
    </form>
    <hr>
    <ul>
        <li><a href='{% url afg.random_entry %}'>Random entry</a></li>
    </ul>
    <br />
</div>
<div class='results'>
    <div class='constraints'>
        Searching for: 
        {% if not constraints %}
            {% if about %}
                Truth
            {% else %}
                everything
            {% endif %}
        {% endif %}
        {% for param, value in constraints.items %}
        <span class='constraint'>{{ value.title }}: {{ value.value }} <a href='{{ value.removelink }}'>(X)</a></span>
        {% endfor %}
        {% if not about %}
            <div class='sort'>Sort by:
                <a href='{{ sort.date }}' class='sortdir'>{% if sort.date_asc %}&uarr;{% else %}{% if sort.date_desc %}&darr;{% endif %}{% endif %}</a>
                <a href='{{ sort.date }}'>Date</a> 
                | 
                <a href='{{ sort.total_casualties }}' class='sortdir'>{% if sort.total_casualties_asc %}&uarr;{% else %}{% if sort.total_casualties_desc %}&darr;{% endif %}{% endif %}</a>
                <a href='{{ sort.total_casualties }}'>Casualties</a>
            </div>
        {% endif %}
    </div>
    {% if about %}
        {% include "about.html" %}
    {% else %}{% if entries %}
        {% include "_pagination.html" %}
        <hr>
        {% include "afg/entry_table.html" %}
        <hr>
        {% include "_pagination.html" %}
    {% else %}
        No results.
    {% endif %}{% endif %}
</div>
{% endblock %}
