{% extends "base.html" %}
{% block title %}{% if about %}Diary Dig{% else %}Search{% endif %}{% endblock %}
{% block content %}

<div class='sidebar'>
    {% include "afg/_logo.html" %}
    <script type='text/javascript'>
        function clean_get(form) {
            var inputs = $(form).find("input");
            inputs.each(function() {
                var el = $(this);
                var val = $(this).val();
                if (val === '' || (val === '0' && /.*gte/.test(el.attr('name')))) {
                    $(this).remove();
                }
            });
            return true;
        }
    </script>
    <form method='get' action='{% url afg.search %}' onsubmit='return clean_get(this);'>
        <input type='text' value='{{ params.q }}' name='q' />
        {% if params.sort %}<input type='hidden' value='{{ params.sort }}' name='sort' />{% endif %}
        <input type='submit' value='search' />

    {% for param, choice_opts in choices.items %}
        {% if choice_opts.type == 'min_max' or choice_opts.type == 'date' %}
            <h2>{{ choice_opts.title }}</h2>
            {% if choice_opts.max_value == choice_opts.min_value %}
                <input type='hidden' name='{{param}}__gte' value='{{ choice_opts.chosen_min }}' />
                <input type='hidden' name='{{param}}__lte' value='{{ choice_opts.chosen_max }}' />
                {{ choice_opts.max_value }}
            {% else %}
                <div style='width: 90%; margin-left: auto; margin-right: auto;'>
                    <div id='sparkline_{{param}}' class='sparkline'></div>
                    <div id='slider_{{param}}'></div>
                    <div>
                        <div>
                            Between
                            <input name='{{param}}__gte' id='{{param}}__gte' value='{{ choice_opts.chosen_min }}' title='{{ choice_opts.min_value }}' style='width: 70px;' />
                            and
                            <input name='{{param}}__lte' id='{{param}}__lte' value='{{ choice_opts.chosen_max }}' style='width: 70px;' title='{{ choice_opts.max_value }}'/>
                        </div>
                        <div style='text-align: center'>
                            (<span id='count_{{param}}' style='text-align: center;'>{{ page.paginator.count }}</span> documents)
                        </div>
                    </div>
                </div>
                <script type='text/javascript'>
                    (function() {
                    var counts = [{{ choice_opts.counts|join:", " }}];
                    var vals = ["{{ choice_opts.vals|join:"\", \"" }}"];
                    for (var i = 0; i < vals.length; i++) {
                        if ("" + parseInt(vals[i]) == vals[i]) {
                            vals[i] = parseInt(vals[i]);
                        }
                    }
                    // remove '0' for sparkline display; it out-ranges all other values
                    var sparkline_counts = [{{ choice_opts.counts|join:", " }}];
                    sparkline_counts.splice(0, 1);
                    $('#sparkline_{{param}}').sparkline(sparkline_counts, {width: '100%'});
                    var update = function(event, ui) {
                        var actualValues = [vals[ui.values[0]], vals[ui.values[1]]];
                        if (ui.value == ui.values[0]) {
                            $("#{{param}}__gte").val(actualValues[0]).trigger('change');
                        } else if (ui.value == ui.values[1]) {
                            $("#{{param}}__lte").val(actualValues[1]).trigger('change');
                        }
                        var count = 0;
                        for (var i = 0; i < vals.length; i++) {
                            if (vals[i] >= actualValues[0] && vals[i] <= actualValues[1]) {
                                count += counts[i];
                            }
                        }
                        $("#count_{{param}}").html(count);
                    }
                    $('#slider_{{param}}').slider({
                        range: true,
                        values: [0, vals.length - 1],
                        max: vals.length - 1, 
                        min: 0,
                        change: update,
                        slide: update
                    });
                    })();
                </script>
            {% endif %}
        {% else %}
            <h2>{{ choice_opts.title }}</h2>
            {% if choice_opts.value %}
                <input type='hidden' name='{{ param }}' value='{{ choice_opts.value }}' />
            {% endif %}
            <ul>
                {% for choice in choice_opts.choices %}
                <li>
                    {% if choice_opts.choices|length > 1 %}
                        <a href="{{ qstring }}&{{ param }}={{choice.1}}">{% firstof choice.0 "None" %}</a> ({{ choice.2 }})
                    {% else %}
                        {% firstof choice.0 "None" %} ({{ choice.2 }})
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
    {% if entries %}
        <p style='text-align: center;'>
            <input type='submit' value='Search' />
        </p>
    {% endif %}
    </form>
    <hr>
    <ul>
        <li><a href='{% url afg.random_entry %}'>Random entry</a></li>
    </ul>
    <br />
</div>
<div class='main'>
<div class='constraints'>
    <div style='float: left; margin-right: 1em'>
    Searching for: 
    {% if not constraints %}
        {% if about %}
            Truth
        {% else %}
            everything
        {% endif %}
    {% endif %}
    </div>
    {% for param, value in constraints.items %}
    <div class='constraint' style='display: block; float: left;'>
        <span style='float: left; margin-right: 0.3em;'>{{ value.title }}: {{ value.value }}</span> 
        <a href='{{ value.removelink }}' style='float: left;' title='Click to remove this constraint'><span class='ui-icon ui-icon-circle-close'></span></a>
    </div>
    {% endfor %}
    {% if not about %}
        <div class='sort'>Sort by:
            {% for sort_opts in sort_links %}
                <a href='{{ sort_opts.link }}' class='sortdir'>{% if sort_opts.current %}{% if sort_opts.desc %}&darr;{% else %}&uarr;{% endif %}{% endif %}</a> <a href='{{ sort_opts.link }}'>{{ sort_opts.title }}</a>
                {% if not forloop.last %} | {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <div style='clear: both;'></div>
</div>
<div class='results'>
    {% if about %}
        {% include "about.html" %}
    {% else %}{% if entries %}
        {% include "_pagination.html" %}
        <hr>
        {% include "afg/entry_table.html" %}
        <hr>
        {% include "_pagination.html" %}
    {% else %}
        No results.
    {% endif %}{% endif %}
</div>
</div> <!-- /main -->
<script type='text/javascript'>
    // from http://kyleschaeffer.com/best-practices/input-prompt-text/
    (function(){
      $('input[title]').each(function(i){
        $(this).addClass('input-prompt-' + i);
        var promptSpan = $('<span class="input-prompt"/>');
        $(promptSpan).attr('id', 'input-prompt-' + i);
        $(promptSpan).append($(this).attr('title'));
        $(promptSpan).click(function(){
          $(this).hide();
          $('.' + $(this).attr('id')).focus();
        });
        if($(this).val() != ''){
          $(promptSpan).hide();
        }
        $(this).before(promptSpan);
        $(promptSpan).each(function(i){
          var pos = $(this).position();
          $(this).css({
              left: pos.left + 'px',
              top: pos.top + 'px'
          });
        });
        $(this).change(function(){
          if ($(this).val() == '') {
            $('#input-prompt-' + i).show();
          } else {
            $('#input-prompt-' + i).hide();
          }
        });
        $(this).focus(function(){
          $('#input-prompt-' + i).hide();
        });
        $(this).blur(function(){
          if($(this).val() == ''){
            $('#input-prompt-' + i).show();
          }
        });
      });
    })();
</script>
{% endblock %}
